
.start-button {
    position: absolute;
    font-size: xx-large;
    color: gold;
    top: 400px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    background-color: #181a1b;
    width:100px;
    outline-style: double;
    outline-width: 10px;
    outline-color: invert;
    outline-offset: 20px;
}
.start-button:hover{
    outline-color: grey;
    color: grey;
}
.footer{
    position: absolute;
    top: 94%;
}